body {
    margin: 0;
    font-family: 'Jura', sans-serif;
    background: linear-gradient(180deg, #C0DFC7 0%, #68796C 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: sticky;
    width: 100%;
    height: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    background-color: #c0dfc7;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-x: hidden;
}

nav.custom_navigation {
    position: absolute;
    top: 0;
    width: 100%;
}

nav.custom_navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav.custom_navigation li {
    margin: 0 10px;

}

nav.custom_navigation li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

nav.custom_navigation li a:hover {
    font-size: x-large;
    background-color: rgba(151, 189, 150, 0.467);
}

nav.custom_navigation img {
    text-align: left;
}

.content {
    padding: 20px;
    position: relative;
    border-radius: 8px;

    max-width: 1500px;
    margin: 20px auto;
}

.slogan {
    width: 100%;
    background-color: #000000;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 3px;
}

.slogan h1 {
    color: white;
    font-size: 8ch;
}

.custom-block-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}




.custom-block1 {
    display: flex;
    max-width: 100%;
    padding: 20px;
    background-color: #c8d3c4;
    border-radius: 50px;
    overflow-wrap: break-word;
    white-space: normal;
    box-shadow: 4px 4px 20px black;
}


.image-container {
    flex: 1;
    max-width: 50%;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

.text-container {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    max-width: 50%;
    flex-direction: column;
    justify-content: center;
}

.text-container p {
    color: black;
    font-size: x-large;
    text-align: center;
}
.text-container h2 {
    color: black;
    text-align: center;
    text-shadow: 2px 2px 6px black;
    font-weight:bold;
}

.button1 {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button1 span {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: 0.5s;
}

.button1 span:after {
    content: '\2192';
    position: relative;
    opacity: 0;
    margin-left: 10px;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-weight:bold;
}

.button1:hover span {
    padding-right: 25px;
}

.button1:hover span:after {
    opacity: 1;
    right: 0;
}

.custom-block {
    display: block;
    max-width: 700px;
    padding: 20px;
    box-shadow: 4px 4px 20px black;
    background-color: #c8d3c4;
    border-radius: 50px;
    overflow-wrap: break-word;
    white-space: normal;
}

.custom-block li {
    color: #403C3C;
    font-weight: bold;
    font-size: x-large;
}

.custom-block h2 {
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.custom-block h3 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.custom-form {
    color: black;
    font-weight: bold;
    font-size: large
}

.custom-form button {
    color: #fff;
    background-color: #87B188;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.custom-form input[type="checkbox"] {
    margin-right: 10px;
    width: 25px;  
    height: 25px;
}
.checkbox-container {
    display: flex;
    align-items: center; 
}

.custom-block-footer {
    display: inline-block;
    max-width: 700px;
    padding: 10px;

    background-color: #00000000;
    border-radius: 10px;
    overflow-wrap: break-word;
    white-space: normal;
}

.block-footer {
    display: flex;
    justify-content: space-between;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
}

.carousel-inner>.item>img {
    width: 100%;
    max-height: auto;
    margin: 0 auto;
}

form {
    margin: 20px 0;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: medium;
    color: white;
}

p {
    color: #5E5959;
    font-size: xx-large;
    font-weight: bold;
}

h1 {
    color: rgb(0, 0, 0);

    font-weight: bold;
}


#container-main-table {
    width: 80%;
    margin: 0 auto;
}

#container-main-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
    position: center;
}

#container-main-table table,
#container-main-table th,
#container-main-table td {
    border: 4px solid #ffffff;
}

#container-main-table th,
#container-main-table td {
    padding: 8px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    width: 50%;
}

#container-main-table th {
    background-color: #D9D9D9;
    font-size: xx-large;
}


.icon img {
    height: 50px;
    width: 50px;
    padding: 2px;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
}









