* {
    font-family: 'Jura', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #C0DFC7 0%, #68796C 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: sticky;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    background-color: #c0dfc7;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;

}

/*  НАВІГАЦІЙНА ПАНЕЛЬ  */
nav.custom_navigation {
    width: 100%;
}

nav.custom_navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    transition: flex-direction 0.5s ease;
}

nav.custom_navigation li {
    margin: 0 10px;
    transition: transform 0.5s ease;
}

nav.custom_navigation li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    transition: background-color 0.3s ease, font-size 0.3s ease;
}

nav.custom_navigation li a.active {
    background-color: rgba(151, 189, 150, 0.467);
    font-weight: bold;
    color: rgb(0, 0, 0);
}

nav.custom_navigation li a:hover {
    font-size: x-large;
    background-color: rgba(151, 189, 150, 0.467);
}

nav.custom_navigation img {
    text-align: left;
}

.toggle-button {
    display: none;
    background-color: #68796C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
}

@media (max-width: 600px) {
    .toggle-button {
        display: block;
    }

    nav.custom_navigation ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav.custom_navigation li {
        transform: translateY(-10px);
    }

    nav.custom_navigation li.active,
    nav.custom_navigation li:hover {
        transform: translateY(0);
    }

    nav.custom_navigation.active ul {
        display: flex;
    }

    #container-main-table table,
    #container-main-table th,
    #container-main-table td {
        border: 2px solid #ffffff;
    }

    #container-main-table th,
    #container-main-table td {
        display: flex;
        width: 100%;
        text-align: center;
    }

    #container-main-table th {
        background-color: #68796C;
        color: white;
    }

    #container-main-table tr {
        display: block;
        margin-bottom: 10px;
    }

    .block-footer {
        flex-direction: column;
        align-items: center;

    }

    .custom-block-footer {
        text-align: center;
        padding-left: 0;
    }

    .contact-info {
        justify-content: center;
    }

}

/* ОСНОВНИЙ КОНТЕНТ */
.content {
    padding: 20px;
    position: relative;
    border-radius: 8px;
    max-width: 80%;
    margin: 20px auto;
}

/* СЛОГАНИ (ТЕКСТ НА ЧОРНОМУ ФОНІ) */
.slogan {
    width: 100%;
    background-color: #000000;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 3px;
}

.slogan h1 {
    color: white;
    font-size: clamp(2rem, 5vw, 5rem);
}

/* РОЗДІЛЬНИЙ КОНТЕЙНЕР ДЛЯ РОЗМІЩЕННЯ БЛОКІВ З ІНФОРМАЦІЄЮ */
.custom-block-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    gap: 10px;
    margin: 20px 0;
}

.custom-block iframe {
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 10px;
}

/* СУЦІЛЬНИЙ БЛОК ДЛЯ РОЗМІЩЕННЯ ФОТО ТА ІНФОРМАЦІЇ */
.custom-block1 {
    display: flex;
    max-width: 100%;
    padding: 20px;
    background-color: #c8d3c4;
    flex-wrap: wrap;
    border-radius: 50px;
    overflow-wrap: break-word;
    white-space: normal;
    box-shadow: 4px 4px 20px black;
}

/* КОНТЕЙНЕР ДЛЯ ЗОБРАЖЕННЯ У custom-block1*/
.image-container {
    flex: 1 1 45%;
    max-width: 100%;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

/* КОНТЕЙНЕР ДЛЯ ТЕКСТУ У custom-block1*/
.text-container {
    flex: 1 1 45%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text-container p {
    color: black;
    font-size: clamp(1rem, 2.5vw + 1rem, 2rem);
    text-align: center;
}

.text-container h2 {
    color: black;
    text-align: center;
    text-shadow: 2px 2px 6px black;
    font-weight: bold;
    font-size: clamp(1.2rem, 3vw + 1rem, 2.5rem);
}

/* КНОПКА НА СТОРІНЦІ ПОСЛУГИ, ЩО ПЕРЕМІЩУЄ ДО СТОРІНОК З ТРЕНАРАМИ*/
.button1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none !important;
}

.button1 span {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: 0.5s;
}

.button1 span:after {
    content: '\2192';
    position: relative;
    opacity: 0;
    margin-left: 10px;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
}

.button1:hover span {
    padding-right: 25px;
}

.button1:hover span:after {
    opacity: 1;
    right: 0;
}

.custom-block {
    display: block;
    max-width: 550px;
    padding: 20px;
    box-shadow: 4px 4px 20px black;
    background-color: #c8d3c4;
    border-radius: 50px;
    overflow-wrap: break-word;
    white-space: normal;
}

/* ОСНОВНИЙ БЛОК ДЛЯ ІНФОРМАЦІЇ */
.custom-block li {
    color: #403C3C;
    font-weight: bold;
    font-size: clamp(2rem, 2vw, 2.5rem);
}

.custom-block h2 {
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.custom-block h3 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

/* БЛОК ДЛЯ СТИЛІЗОВАНОЇ ФОРМИ */
.custom-form {
    color: black;
    font-weight: bold;
    font-size: large
}

.custom-form button {
    color: #fff;
    background-color: #87B188;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.custom-form input[type="checkbox"] {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

form {
    margin: 20px 0;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

/* БЛОКИ ДЛЯ "ПІДВАЛУ" САЙТУ */
.custom-block-footer {
    display: inline-block;
    max-width: 700px;
    padding: 10px;

    background-color: #00000000;
    border-radius: 10px;
    overflow-wrap: break-word;
    white-space: normal;
}

.block-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: medium;
    color: white;
}

/* КОНТЕЙНЕР ДЛЯ СЛАЙДЕРУ */
.carousel-container {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
}

.carousel-inner>.item>img {
    width: 100%;
    max-height: auto;
    margin: 0 auto;
}

p {
    color: #5E5959;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: bold;
}

h1 {
    color: rgb(0, 0, 0);

    font-weight: bold;
}

/* СЕЛЕКТОРИ ІДЕНТИФІКАТОРА ДЛЯ СТИЛІЗАЦІЇ ТАБЛИЦІ */
#container-main-table {
    width: 80%;
    margin: 0 auto;
}

#container-main-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#container-main-table table,
#container-main-table th,
#container-main-table td {
    border: 4px solid #ffffff;
}

#container-main-table th,
#container-main-table td {
    padding: 8px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: clamp(2rem, 2vw, 2.5rem);

}

#container-main-table th {
    background-color: #D9D9D9;
    font-size: clamp(2rem, 3vw, 2.5rem);
}


/* СЕЛЕКТОР ТЕГУ ДЛЯ ЗОБРАЖЕННЯ МАРКИ */
.icon img {
    height: 50px;
    width: 50px;
    padding: 2px;
}

/* СЕЛЕКТОР ДЛЯ КОНТАКТНОЇ ІНФОРМАЦІЇ */
.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-image {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
}

.text-image h1 {
    font-size: clamp(2rem, 10vw, 6rem);
    font-weight: bold;
    background-image: url('./images/tiger-zebra-fur-repeating-texture-seamless-vector-pattern_265182-217.png');
    background-size: contain;
    background-clip: text;
    color: transparent;
    text-align: center;
}

/* КОНТЕЙНЕР ДЛЯ ФРЕЙМУ */
.iframe-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow-x: hidden;
}

.iframe-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    gap: 50px;
    justify-content: сenter;
    align-items: сenter;
}

.box1 {
    background-color: #c8d3c4;
    width: 100%;

    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 10px black;

}

.box1 h3 {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #f04d3d;
    font-weight: bold;
}

.box1 h3 i {
    margin-right: 10px;
    font-size: 24px;
}

.box1 p {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

/* КОНТЕЙНЕРИ ТА БЛОКИ ДЛЯ ВІДОБРАЖЕННЯ ФОТО ТА ДАНИХ ТРЕНЕРІВ */
.custom-image-container img {
    width: 100%;
    border-radius: 10px;
}

.custom-block-coach {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 20px;
    box-shadow: 4px 4px 20px black;
    background-color: #c8d3c4;
    border-radius: 50px;
    overflow-wrap: break-word;
    white-space: normal;

}

.custom-block-coach h2+ul li {
    color: #000000;
    font-weight: bold;
    font-size: clamp(1rem, 3vw, 2.5rem);
    list-style-type: none;
    position: relative;
    padding-left: 10px;
}

.custom-block-coach li::before {
    content: "✦";
    left: 0;
    color: #000000;
    font-size: clamp(2rem, 4vw, 2.2rem);
    padding-right: 10px;
}

.custom-block-coach h2 {
    color: black;
    font-weight: bold;
    font-size: clamp(1rem, 4vw, 2.5rem);
    text-align: center;
}

.custom-block-coach h3 {
    color: black;
    font-weight: bold;
    font-size: clamp(1.2rem, 4vw, 2rem);
    text-align: center;
}

/* СТИЛІЗАЦІЯ КНОПКИ ПОВЕРНЕННЯ НАЗАД */
.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 20px 0;
    font-weight: bold;
}

.back-button:hover {
    background-color: #ffffff;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.back-button:active {
    background-color: #3e8e41;
    transform: translateY(2px);

}

/* СТИЛІЗАЦІЯ КНОПКИ ПОВЕРНЕННЯ ДОГОРИ */
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 25px;
    transition: background-color 0.3s;

}

.scroll-to-top-button:hover {
    background-color: #555;
}

/* СТИЛІЗАЦІЯ ФОРМИ ДЛЯ ВХОДУ У ВЛАСНИЙ КАБІНЕТ */
.login-container {
    background-color: #c8d3c4;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;

}

.login-container label {
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
    max-width: 300px;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    max-width: 500px;
    width: 400px;

}

input[type="text"] {
    border: 2px solid #5e9e6d;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="tel"] {
    border: 2px solid #5e9e6d;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form input:focus {
    border-color: #87B188;
    outline: none;
}

.login-form button {
    padding: 10px;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 150px;
    text-decoration: none;
}

.login-form button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* СТИЛІЗАЦІЯ ТАБЛИЦІ З ДАНИМИ КЛІЄНТА */
#container-account-table {
    width: 500px;
    margin: 0 auto;

}

#container-account-table table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px;
}

#container-account-table table,
#container-account-table th,
#container-account-table td {
    border: 4px solid #ffffff;
}

#container-account-table tr:hover {
    background-color: #A9D6A9;
}

#container-account-table th,
#container-account-table td {
    padding: 8px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    width: 50%;
    position: relative;
}

#container-account-table th {
    background-color: #D9D9D9;
    font-size: xx-large;
    text-align: center;
}

#container-account-table1 table {
    border: none;
}

#container-account-table1 th,
#container-account-table1 td {
    border: none;
    width: 200px;
}

.small-label {
    font-size: 16px;
    color: rgb(70, 70, 70);
    text-align: left;
    display: block;
    margin-bottom: 4px;
}

/* ТАБЛИЦЯ РОЗКЛАДУ */
table.schedule {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
    border-collapse: separate;
    border-spacing: 10px;
}

table.schedule th,
table.schedule td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table.schedule th {
    background-color: #D9D9D9;
    color:black;
    text-shadow:2px 2px rgba(0, 0, 0, 0.5);
    font-size: clamp(2rem, 2vw, 4rem);
}
table.schedule td {
    background-color: #5E5959;
    color:white;
    text-shadow: 2px 2px #000000;
}
.table-container {
    overflow-x: auto;
}
@media screen and (max-width: 600px) {

    table.schedule thead {
        display: none;
    }


    table.schedule,
    table.schedule tbody,
    table.schedule tr,
    table.schedule td {
        display: block;
        width: 100%;
    }


    table.schedule tr {
        margin-bottom: 20px;
        border: 1px solid #ddd;
        padding: 10px;
        background-color: #D9D9D9;
    }


    table.schedule td:first-child {
        font-weight: bold;
        background-color: #f2f2f2;
        color:black;
        text-shadow: none;
    }


    table.schedule td:nth-child(2)::before {
        content: 'Понеділок';
        font-weight: bold;
        display: block;
        padding: 5px 0;
    }

    table.schedule td:nth-child(3)::before {
        content: 'Вівторок';
        font-weight: bold;
        display: block;
        padding: 5px 0;
    }


    table.schedule td:nth-child(4)::before {
        content: 'Середа';
        font-weight: bold;
        display: block;
        padding: 5px 0;
    }

    table.schedule td:nth-child(5)::before {
        content: 'Четвер';
        font-weight: bold;
        display: block;
        padding: 5px 0;
    }

    table.schedule td:nth-child(6)::before {
        content: 'П\'ятниця';
        font-weight: bold;
        display: block;
        padding: 5px 0;
    }

    table.schedule td:nth-child(7)::before {
        content: 'Субота';
        font-weight: bold;
        display: block;
        padding: 5px 0;
    }
}

/* КОНТЕЙНЕР ДЛЯ БЛОКІВ З ІНФОРМАЦІЄЮ ПРО ВИДИ СПОРТУ*/
.container_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.block_info {
    background-color: #c8d3c4;
    border-radius: 15px;
    border: 2px solid transparent;
    padding: 10px;
    width: 400px;
    box-shadow: 4px 4px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title_info {
    font-size: clamp(2rem, 2vw, 3.5rem);
    margin-bottom: 10px;
    color: black;
    text-shadow:1px 1px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.image_info {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}

.text_info {
    font-size: clamp(1.5rem, 1.5vw, 2.5rem);
    color: black;
    text-align: center;
}

.link {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.link:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.blink {
    border-color: white;
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    0% {
        border-color: white;
    }
    100% {
        border-color: transparent;
    }
}